


#tabs
{
	display:inline-block;
	vertical-align:top;
	width: 100%;
	text-align:center;
}


#affichage_curseur
{
	display : block;
	position : absolute ;
	right : 0;
}


#tabs
{
	display : block;
}




#canvas_bode_gain, #canvas_bode_phase, #canvas_reponse_temporelle
{
	border:solid black 1px;
}

