.boite_table
{
	display:inline-block;
	vertical-align:middle;
	background-color:#FFEEAA;
	padding:10px;
	border-radius:10px;
}

.boite_contenu
{
	text-align:center;
}

.boite_contenu table
{
	margin:auto;
}

.boite_table_input
{
	text-align:left;
}

.boite_table_label
{
	text-align:right;
}

.boite_table_equation
{
	display:inline-block;
	text-align:center;
	width:200px;
	height:100%;
	vertical-align:middle;
}
