/*--------------------------------------
		MENU
-----------------------------------------*/


/* LE MENU ENTIER ====================== */
#menu
{
	width:100%;
	height:30px;
	border-bottom : solid black 1px;
}




/* sous-menu ====================== */

.sous-menu
{
	width:250px;
	display:inline-block;
	margin:0px;
	vertical-align:top;
}





/* TITRE MENU ====================== */

.titre-menu
{
	border : solid 1px;
	border : white solid 1px;
	cursor : pointer;
	height:24px;
	padding-top:4px;
	padding-left:10px;
	font-weight:bold;
}

.sous-menu:hover .titre-menu
{
	background-color: #007fff;
	border : solid #003eff 1px ;
	color:white;
}

.titre-menu::before
{
	font-weight: bold;
	color: navy;
	content: "›";
}



/* liste-items-menu ====================== */

.liste-items-menu
{
	background-color:white;
	z-index: 1000;
	display:inline-block;
	position: absolute;
	border : solid 2px #CCCCCC;
	margin:0px;
	display:none;
}

.sous-menu:hover .liste-items-menu
{
	display:block;
}



/* LES ITEMS ====================== */


.item-menu
{
	cursor : pointer;
	width:300px;
	border : solid 1px #FFFFFF;
	padding:5px;
}


.item-menu:hover
{
	background-color: #007fff;
	border : solid #003eff 1px ;
	color:white;
}

.item-menu img
{
	vertical-align:middle;
}



















/* ==================================================== */

#menu2
{
	margin-bottom:10px;
}
 

.ui-menu
	{
		width: 200px;	/*Largeur des colonnes*/
		font-size: 18px;
		min-height: 28px; /* définit la hauteur minimale du menu (dépendante de la valeur de font-size) */
	}

ul#menu2
	{
		width: 100%; /* définit la largeur totale du menu */
	}

ul#menu2>li
	{
		width: 200px; /* définit la largeur des items de niveau 1 */
		float: left; /* définit le positionnement des items de niveau 1 */
	 	text-decoration:none;
	}
	

#menu2 a
	{
		display:inline-block;
		width:193px;
		padding-left:7px;
		padding-right:0px;
		margin-right:7px;
	} 
